.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Reduced margin for mobile */
  padding: 0 10px; /* Add padding to prevent edge collisions */
}

.logo {
  width: 80%; /* Make the logo responsive */
  max-width: 300px; /* Ensure it doesn't get too large on larger screens */
  height: auto;
  margin-bottom: 15px; /* Slightly reduced margin */
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%; /* Full width for mobile */
  max-width: 600px; /* Cap width on larger screens */
}

.search-input {
  flex: 1;
  padding: 8px;
  font-size: 1rem; /* Adjust font size for mobile */
  border: 2px solid #0056b3; /* Blue border */
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-button {
  padding: 8px;
  font-size: 1rem; /* Adjust font size for mobile */
  border: none;
  background-color: #ff6600; /* Orange background */
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.search-results-container {
  padding: 10px 0; /* Adjust padding for mobile */
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  justify-content: center; /* Center items for better layout */
}

@media (max-width: 768px) {
  .search-bar-container {
    margin-top: 20px; /* Reduce top margin */
  }

  .search-bar {
    width: 100%; /* Ensure full width on mobile */
  }

  .search-results-container {
    padding-left: 5%; /* Adjust padding for smaller screens */
    padding-bottom: 15%;
  }
}

@media (max-width: 480px) {
  .search-bar-container {
    margin-top: 10px; /* Further reduce top margin */
  }

  .search-bar {
    width: 100%;
  }

  .search-input {
    padding: 6px;
    font-size: 0.9rem; /* Smaller font size for very small screens */
  }

  .search-button {
    padding: 6px;
    font-size: 0.9rem; /* Smaller font size for very small screens */
  }

  .search-results-container {
    padding-left: 5%; /* Adjust padding for smaller screens */
    padding-right: 5%;
    padding-bottom: 10%;
  }
}