/* Main container for the page */
.all-container {
  display: flex;
  flex-direction: row;
  padding: 50px 20px;
  margin-top: 0px !important;
  width: fit-content !important;
}

/* Filters sidebar */
.filters {
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  position: sticky;
  top: 20px;
  height: fit-content;
}

.filters h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group .MuiFormControl-root {
  width: 100%;
}

.filters .checkbox-list {
  display: flex;
  flex-direction: column;
}

.filters .checkbox-list div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filters button {
  display: block;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.filters button:hover {
  background-color: #0056b3;
}

/* Scrollable row for the cards */
.scrollable-row {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
  gap: 20px;
  scroll-snap-type: x mandatory;
  flex: 1; /* Allow it to take remaining space */
}

.card {
  scroll-snap-align: start;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .filters {
    width: 100%;
    margin-bottom: 20px;
    position: static;
  }

  .scrollable-row {
    overflow-x: auto;
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .filters {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
  }

  .filters {
    padding: 10px;
  }

  .filters button {
    padding: 8px;
  }
}
